* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this styling is for the border and size of the entire calculator */
.calculator {
    border: 1px solid black;
    position: relative;
    margin: 30% 30%;
    align-items: center;
}

/* this is for the display */
div .display {
    border: 1px solid black;
    padding: 10% 0;
}

/* this is for the div that holds all the buttons. It houses them into a grid */
.buttons {
    display: grid;
    grid-template-columns: 4(100px);
    grid-template-rows: 5(100px);
}

/* this is for the spacing for all the buttons */
button {
    padding: 20px;
}

/* to read grid area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
/* for the AC button */
.AC {
    grid-area: 1 / 1 / 2 / 3;
}

/* for the delete button */
.DEL {
    grid-area: 1 / 3 / 2 / 4;
}

/* for the button nine */
.divide {
    grid-area: 1 / 4 / 2 / 5;
}

/* for the button seven */
.seven {
    grid-area: 2 / 1 / 3 / 2;
}

/* for the button eight */
.eight {
    grid-area: 2 / 2 / 3 / 3;
}

/* for the button divide */
.nine {
    grid-area: 2 / 3 / 3 / 4;
}

/* for the button multiply */
.multiply {
    grid-area: 2 / 4 / 3 / 5;
}

/* for the button zero */
.zero {
    grid-area: 5 / 1 / 6 / 3
}